RewriteEngine on

# Dev environment
RewriteCond %{HTTP_HOST} !^localhost$ [NC] [OR]
RewriteCond %{REQUEST_URI} !^/projects/cangayexp/admin/(assets|css|js|fonts|img)
RewriteRule .? - [S=5]
RewriteRule ^admin/assets/(.*)$ /projects/cangayexp/backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ /projects/cangayexp/backend/web/css/$1 [L]
RewriteRule ^admin/js/(.*)$ /projects/cangayexp/backend/web/js/$1 [L]
RewriteRule ^admin/fonts/(.*)$ /projects/cangayexp/backend/web/fonts/$1 [L]
RewriteRule ^admin/img/(.*)$ /projects/cangayexp/backend/web/img/$1 [L]

RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteCond %{REQUEST_URI} ^/projects/cangayexp/admin
RewriteRule ^admin/?(.*) /projects/cangayexp/backend/web/index.php/$1 [L]

RewriteCond %{HTTP_HOST} !^localhost$ [NC] [OR]
RewriteCond %{REQUEST_URI} !^/projects/cangayexp/(assets|css|js|fonts|img)
RewriteRule .? - [S=5]
RewriteRule ^assets/(.*)$ /projects/cangayexp/frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ /projects/cangayexp/frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ /projects/cangayexp/frontend/web/js/$1 [L]
RewriteRule ^fonts/(.*)$ /projects/cangayexp/frontend/web/fonts/$1 [L]
RewriteRule ^img/(.*)$ /projects/cangayexp/frontend/web/img/$1 [L]

RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteCond %{REQUEST_URI} !^/projects/cangayexp/(frontend|backend)
RewriteRule ^(.*)$ /projects/cangayexp/frontend/web/index.php/$1 [L]

# Prod environment
RewriteCond %{HTTP_HOST} ^localhost$ [NC] [OR]
RewriteCond %{REQUEST_URI} !^/admin/(assets|css|js|fonts|img)
RewriteRule .? - [S=5]
RewriteRule ^admin/assets/(.*)$ /backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ /backend/web/css/$1 [L]
RewriteRule ^admin/js/(.*)$ /backend/web/js/$1 [L]
RewriteRule ^admin/fonts/(.*)$ /backend/web/fonts/$1 [L]
RewriteRule ^admin/img/(.*)$ /backend/web/img/$1 [L]

RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin/?(.*) /backend/web/index.php/$1 [L]

RewriteCond %{HTTP_HOST} ^localhost$ [NC] [OR]
RewriteCond %{REQUEST_URI} !^/(assets|css|js|fonts|img)
RewriteRule .? - [S=5]
RewriteRule ^assets/(.*)$ /frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ /frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ /frontend/web/js/$1 [L]
RewriteRule ^fonts/(.*)$ /frontend/web/fonts/$1 [L]
RewriteRule ^img/(.*)$ /frontend/web/img/$1 [L]

RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{REQUEST_URI} !^/(frontend|backend)
RewriteRule ^(.*)$ /frontend/web/index.php/$1 [L]
